<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Website Homepage HTML and CSS | CodingNepal</title>
  <style>
    /* Styles CSS ici */
  </style>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <ul class="links">
        <li><a routerLink="/timeflow">Acceuil</a></li>
        <li><a routerLink="/planning">Planning</a></li>
        <li><a routerLink="/pointage">Pointage</a></li>
        <li><a routerLink="/machine">Machine</a></li>
        <li><a routerLink="/hierarchie">Hiérarchie</a></li>
        <li><a routerLink="/paramétrage-logiciel">Paramétrage logiciel</a></li>
        <li><a routerLink="/paramétrage-pointage">Paramétrage pointage</a></li>
        <li><a routerLink="/rapportetsatistique">Rapport et statistique</a></li>
      </ul>
      <div class="buttons">
        <a routerLink="/login" class="login"></a>
       
      </div>
    </nav>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
</body>
</html>