<!DOCTYPE html>
<html lang="ar">
<head>
    <!-- Meta tags, title, and stylesheets -->
</head>
<body>
    <header>
        <nav>
            <div class="many">
                <button><a href="/repos">Repos</a></button>
                <button><a href="/pause">Pause</a></button>
                <button><a href="/jourferie">Jour Férié</a></button>
                <button><a href="/admin">Admin</a></button>
                <button><a href="/employe">Employé</a></button>
                
        
            </div>
        </nav>
    </header>
</body>

