<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <section class="home">
    <div class="form_container">
      <i class="uil uil-times form_close"></i>
      <!-- Sign Up From -->
      <div class="form login_form">
        <form action="#">
          <h2>Sign Up</h2>
          <div class="input_box">
            <input type="Identifier ID" placeholder="Identifier ID" required />
            <i class="uil uil-envelope-alt Identifier ID"></i>
          </div>
          <div class="input_box">
            <input type="Phone number" placeholder="Phone number" required />
            <i class="uil uil-envelope-alt Phone number"></i>
          </div>
          <div class="input_box">
            <input type="password" placeholder="Enter your password" required />
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>
          
          <button class="button">Login Now</button>
</form>
      </div>
    </div>
  </section>
</body>
</html>
