<!DOCTYPE html>
<html lang="ar">
<head>
    <!-- Meta tags, title, and stylesheets -->
</head>
<body>
    <header>
        <nav>
            <div class="many">
                <button><a href="/type-séance">Type Séance</a></button>
                <button><a href="/gestion-daccés">Gestion d'accés</a></button>
                <button><a href="/editeur-de-formule-pointage-mensuel">Editeur de formule pointage mensuel</a></button>
                <button><a href="/editeur-de-formule-pointage-journalier">Editeur de formule pointage journalier</a></button>
                <button><a href="/champ-de-calcule-dynamique">Champ de calcul dynamique</a></button>
                
        
            </div>
        </nav>
    </header>
</body>

