<!DOCTYPE html>
<html lang="ar">
<head>
    <!-- Meta tags, title, and stylesheets -->
</head>
<body>
    <header>
        <nav>
            <div class="many">
                <button><a href="/tableau-de-bord">Tableau de bord</a></button>
                <button><a href="/pointage-manquant">Pointage Manquant</a></button>
                <button><a href="/heures-supp">Heures Supp</a></button>
                <button><a href="/liste-pointages">Liste Pointages</a></button>
                <button><a href="/liste-des-retards">Liste des Retards</a></button>
                <button><a href="/liste-des-absents">Liste des Absents</a></button>
                <button><a href="/liste-des-conges">Liste des congés</a></button>
                
                
        
            </div>
        </nav>
    </header>
</body>

